// importacion de las variables
@import '../utils/variables';

/* Seccion de beneficios del index */
.benefits{
    &__list {
        align-items: flex-start;
        justify-content: space-between;
        display: flex;
    }
    &__item{
        list-style: none;
        width: 270px;
    }
    &__image{
        display: flex;
          align-items: center;
          justify-content: center;
          background-color: $gray-1;
          border-radius: 15px;
          height: 120px;
          margin-bottom: 15px;
          width: 270px;
    }
    &__icon {
        width: 70px;
        height: 70px;
    }
    &__title {
        height: 50px;
        text-transform: uppercase;
        color: $primary-black-color;
        font-size: 14px;
        letter-spacing: 0.03em;
        padding: 15px 0 0 0;
    }
    &__description {
        line-height: 24px;
    }
}

@media only screen and (min-width: 767.98px) and (max-width:1199.98px){
    .benefits{
        &__list {
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 30px;
          margin-top: -80px;
          
        }
        &__item{
            margin-right: 30px;
            padding-top: 30px;
        }
        &__image{
              width: 320px;
        }
        &__description {
            width: 320px;
        }
    }
  }

@media only screen and (min-width: 479.98px) and (max-width:767.97px){
    .benefits{
        &__list {
          flex-wrap: wrap;
          justify-content: center;
          padding: 60px 0px 30px 150px; 
          margin-top: -80px;
        }
        &__item{
            margin-right: 30px;
            padding-top: 30px;
            width: 450px;
            height: 400px;
        }
        &__image{
              width: 990px;
              height: 220px;
        }
        &__icon {
            width: 130px;
            height: 130px;
            padding: 20px;
        }
        &__title {
            height: 50px;
            padding: 30px 0px 0px 0px;
            text-align: center;
            font-weight: 800;
            font-size: 18px;
            width: 990px;
        }
        &__description {
            width: 990px;
            padding: 10px;
            font-size: 20px;
        }
    }
        
  }
